.DS_Store
.editorconfig
.git
.gitattributes
.github
.gitignore
.npmrc
.prettierrc
.vs_code
docker-compose*.yml
node_modules/
**/node_modules/
README.md

packages/*/.DS_Store
packages/*/.env*
packages/*/.eslint*
packages/*/.vscode
packages/*/Dockerfile*
packages/*/docker-compose*.yml
packages/*/lib
packages/*/*.log
packages/*/nest-cli.json
packages/*/node_modules
packages/*/nodemon*.json
packages/*/README.md